body{
    margin: 0;
    background-color: var(--grey-background)
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: var(--primary-color);
    color: var(--white);
}

 .snappmap {
     display: grid; 
     grid-template-columns:repeat(auto-fit, minmax(170px, 1fr));
     gap: 10px; 
     padding: 1rem; 
     list-style: none;
  
     img {
      width: 100%; 
      aspect-ratio: 1/1; /* maakt foto vierkant */
      border-radius: 5px; 
     }
   }

   .footer{
    display: none;
   }