body{
    margin: 0;
    background-color: var(--grey-background);
}

header{
    display: flex;
    justify-content: center;
    padding: 0.4rem;
    background-color: var(--primary-color);
    color: var(--white);
}

 .snappmap {
     display: grid; 
     grid-template-columns:repeat(auto-fit, minmax(170px, 1fr));
     gap: 10px; 
     padding: 1rem; 
     list-style: none;
  
     img {
      width: 100%; 
      aspect-ratio: 1/1; /* maakt foto vierkant */
      border-radius: 5px; 

     }
   }

   /* Nav-bar */
.nav-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    
   
    ul {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      align-items: center;
      margin: 0;
      padding: 0;

      img {
        width: 32px;
        height: 45px;    
      }
    }

    .nav-item a {
     padding: 0.5rem;
    }
}


   .footer{
    display: none;
    
    @media (min-width: 800px){
      display: block;
    }
   }