body{
    margin: 0;
    background-color: var(--grey-background);
    padding-bottom: 80px;
}

header{
    display: flex;
    justify-content: center;
    padding: 0.4rem;
    background-color: var(--primary-color);
    color: var(--white);
}

.subject {
  margin-bottom: -1.5rem;
  padding-left: 1rem;
}

 .snappmap {
     display: grid; 
     grid-template-columns:repeat(auto-fit, minmax(170px, 1fr));
     gap: 12px; 
     padding: 1rem; 
     list-style: none;

     li{
       position: relative;
       overflow: hidden;
       transition: transform 0.3s ease; 
       cursor: pointer;

       &:hover {
         transform: translateY(-8px); /* foto komt omhoog */
         box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);

       img {
         transform: scale(1.1);
        }
      }
     }
   }

   img {
       width: 100%; 
       aspect-ratio: 1/1; 
       border-radius: 5px;
       transition: transform 0.3s ease; 
   }

   /* Nav-bar */
.nav-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    
   
    ul {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      align-items: center;
      margin: 0;
      padding: 0;

      img {
        width: 32px;
        height: 45px;    
      }
     
    }

    .nav-item a {
     padding: 0.5rem;
    }
}


   .footer{
    display: none;
    
    @media (min-width: 800px){
      display: block;
    }
   }