/* Body */
body {
    margin: 0;
    background-color: var(--white);
    color: var(--primary-color);
}

/* Header */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
    background-color: var(--primary-color);
    color: var(--white);

    .header-title {
     margin: 0;
     font-size:var(--first-line) ;
    }

    .arrow {
     position: absolute;
     left: 1rem
    }
}

main{
    background-color: var(--grey-background);
    display: flex;
    justify-content: center;
    padding: 50px;
}


/* Form password */
.container {
    width: 600px;
}

.password-form {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;

}

.form-wrapper {
    position: relative;
    width: 100%;
}

.form-wrapper input {
    width: 85%;
    padding: 12px;
    border-radius: 8px;
   
}    

.toggle-btn {
    display: inline-flex;
    position:absolute;
    top: 14%;
    transform: translateY(-50%);
    right: 11%;
    line-height: 0;
    background: none
    
}
   
.toggle-btn img {
    width: 19px;
    height: 19px;
}

.done-btn {
    width: 12vw;
    translate: 20em;

}

/* Nav-bar */
.nav-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
   
    ul {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      margin: 0;
      padding: 0;
    }

    .nav-item a {
     display: flex;
     padding: 0.5rem;
    }
}

