/* Body */
body {
    margin: 0;
    background-color: var(--white);
    color: var(--primary-color);
}

/* Header */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
    background-color: var(--primary-color);
    color: var(--white);

    .header-title {
     margin: 0;
     font-size:var(--first-line) ;
    }

    .arrow {
     position: absolute;
     left: 1rem
    }
}

main{
    background-color: var(--grey-background);
    display: flex;
    justify-content: center;
    padding: 50px;

    .container {
    width: 400px;
  }
}

/* Form password */

.password-form {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;

    
    .form-wrapper {
    position: relative;
    width: 100%;
    }

     @media (min-width:700px){
      width: 500px;  
    }
}


.form-wrapper input {
    width: 85%;
    padding: 12px;
    border-radius: 8px;
   
}    

.toggle-btn {
    position: absolute;
    top: 64%;
    right: 10%;
    transform: translateY(-50%);
    background-color: transparent;

     img {
    width: 19px;
    height: 19px;
    }
}
   

.done-btn {
    width: 12vw;
    translate: 24em;

     @media (min-width:700px) {
       translate: 28em; 
       width:10vw;
       background-color: var(--primary-color);
       
       &:hover{
        background-color: var(--secondary-action);
        transition: 0.5s;
       }
      
    }
}

/* Nav-bar */
.nav-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
   
    ul {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      margin: 0;
      padding: 0;
    }

    .nav-item a {
     display: flex;
     padding: 0.5rem;
    }
}

